main{
    line-height: 25px;
    padding: 0px 170px;
    padding-top: 50px;
    background-color: rgb(238, 236, 236);
    padding-bottom: 50px;
}
header{
    background-image: url("images_3/im2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;/*Permet de définir l'image sur toute la longuer de la page*/
    background-position: center;
}
h1{
    font-size: 1.8em;
}
p{
    font-size: 1.05em;
}
.one{
    display: flex;
    background-color: rgba(73, 63, 40, 0.4); 
    margin: 0px 120px;
}
.two{
    display: flex;
}
.one nav ul{
    list-style-type: none;    
    display: flex;
    padding-top: 20px;
    padding-left: 590px;
}
.one nav a{
    text-decoration: none;
    padding-left: 30px;
    color: greenyellow
}
.one nav a:hover{
    color: white;
}
.one nav p{
    padding-left: 400px;
}
.two img{
    height: 70px;
    width: 80px;
}
.three{
    color: greenyellow;
}
.five{    
    text-align: center;
    color: #FFF;
    line-height: 25px;
    word-spacing: 3px;
    padding: 100px 115px 150px 115px;
}
.five h1, .five p{
    background-color: rgba(73, 63, 40, 0.4); 
}
.six{
    display: flex;
    gap: 20px;
    padding: 0px 20px 30px 20px;
}
.six div{
    background-color: rgba(163, 206, 255, 0.7);
    padding: 20px;
    text-align: center;
}
.six img{
    height: 70px;
    width: 70px;
}
.seven{
    display: flex;
    gap: 30px;
    text-align: justify;
}
.seven img{
    width: auto;
    height: 430px;
    padding-left: 80px;
    padding-top: 10px;
}
.seven_div{
    padding-top: 30px;
}
.eight{
    display: flex;
    gap: 30px;
    padding-top: 20px;
    text-align: justify;
}
.eight h2{
    text-align: center;
}
.eight img{
    height: 350px;
    width: 400px;
}
.h1{
    text-align: center; 
    padding-top: 30px;
    padding-bottom: 10px;
}
.nine{
    display: flex;
    gap: 20px;
    padding: 10px 140px 0px 140px;
    text-align: center;
}
.nine img{
    height: 500px;
    width: auto;
}
.ten{
    display: flex;
    gap: 20px;
    color: white;
    padding: 0px 170px;
}
.eleven{
    display: flex;
    gap: 20px;
}
.eleven div{
    border: wheat dotted;
    padding: 20px 130px 20px 20px;
}
.eleven img{
    height: 40px;
    width: 40px;
}

footer{
    line-height: 25px;
    background-color: rgb(73, 135, 206);
}
footer form{
    background-color: rgb(66, 40, 136);
    padding: 50px 10px 0px 10px;
}
footer form input, .thirteen form input{
    height: 30px;
    margin-bottom: 10px;
    width: 200px;
}
footer form textarea, .thirteen form textarea{
    height: 60px;
    width: 200px;
    margin-bottom: 10px;
}
footer form button, .thirteen form button{
    background-color: red;
    color: #FFFFFF;
    height: 30px;
    border-radius: 100px;
    margin-bottom: 30px;
    padding: 10px 20px 27px 20px;
}
footer form button:hover, .thirteen form button:hover{
    background-color: rgba(255, 0, 0, 0.7s);
    color: #FFFFFF;
    height: 30px;
    border-radius: 100px;
    margin-bottom: 30px;
    padding: 10px 20px 27px 20px;
}
.header2, .header3{
    background-image: url("images_3/im17.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;/*Permet de définir l'image sur toute la longuer de la page*/
    background-position: center;
}
.thirteen{
    background-color: silver;
}
.thirteen_sect{
    display: flex;
    gap: 30px;
}
.thirteen form button{
    margin-left: 60px;
}
.fourteen{
    background-color: rgb(203, 215, 228);
}
.fifteen{
    display: flex;
    gap: 20px;
}
.fifteen img{
    height: 400px;
    width: 500px;
}
.copyright {
    color: #647ffF;                  /* Gris discret */
    padding: 7px;                   /* Espacement interne */
    margin-top: 50px;                /* Marge au-dessus */
    background: rgba(2, 6, 23, 0.4); /* Fond noir bleuté transparent */
}
.copyright_contact {
    color: #ffF;                  /* Gris discret */
    padding: 7px;                   /* Espacement interne */
    background: rgb(144, 144, 144); /* Gris plus foncés (vers le noir) */
}